.container-fluid.home-barra
%section.container.home
  .row
    .col-md-8.texto-home
      %img{:src => "assets/divisao-home-esquerda.png"}
        %span Sobre o CROI
        %img{:src => "assets/divisao-home-direita.png"}
          %p
            Da união de profissionais de alto nível com o objetivo de proporcionar o melhor tratamento em todas as áreas da odontologia a um custo acessível surgiu, há 12 anos, o
            %b “CROI” – Centro de Reabilitação Orofacial Integrado!
          %p Uma clínica odontológica para toda família, que realiza tratamentos simples e preventivos para crianças, como pequenas restaurações e correções ortodônticas e também procedimentos mais complexos cirúrgicos ou não, de enxertos ósseos, implantes, sisos inclusos e todas as próteses.
          %p O CROI possui profissionais gabaritados, equipamentos modernos e um laboratório de prótese no local, possibilitando mais agilidade e segurança. Além disso, o consultório permite total acessibilidade para todos (PNE) e estacionamento privativo próprio.
    .col-md-1
    .col-md-3
      %img.img-responsive{:src => "assets/dente-home.png"}
.container-fluid.home-barra
.container-fluid
  .row.divisao
%section.container
  .row.title-itens-home
    %img{:src => "assets/divisao-home-esquerda.png"}
      %span Nossas Especialidades
      %img{:src => "assets/divisao-home-direita.png"}
  .row.home-itens
    .col-md-3.home-item
      %img.img-responsive.center-block{:src => "assets/ico-home-01.png"}
        %img.img-responsive{:src => "assets/divisao-home-itens.png"}
          %h2 Ortodontia
          %p Lorem ipsum dolor sit amet consectetur
    .col-md-3
      %img.img-responsive.center-block{:src => "assets/ico-home-02.png"}
        %img.img-responsive{:src => "assets/divisao-home-itens.png"}
          %h2 Endodontia
          %p Lorem ipsum dolor sit amet consectetur
    .col-md-3
      %img.img-responsive.center-block{:src => "assets/ico-home-03.png"}
        %img.img-responsive{:src => "assets/divisao-home-itens.png"}
          %h2 Cirurgias
          %p Lorem ipsum dolor sit amet consectetur
    .col-md-3
      %img.img-responsive.center-block{:src => "assets/ico-home-04.png"}
        %img.img-responsive{:src => "assets/divisao-home-itens.png"}
          %h2 Clínica Geral
          %p Lorem ipsum dolor sit amet consectetur
  .row.btn-especialidades
    %a{:href => "/services"}
      %img.center-block{:src => "assets/btn-especialidades.png"}/