.header-interna{height: 92px;background-color: #1cb9bd;}
.header-home{height: 766px;z-index: 10000;background-image: url('../assets/img-home.jpg'); background-size: cover;}
.logo{margin-top: 21px;}

.header-interna nav ul{list-style: none; font: 400 18px / 56.933px Titillium Web;margin-top: 13px;}
.header-interna nav ul a{color: #feffff;font-size: 19px;}
@media (max-width: 767px){
	.header-interna nav ul a{color: #0f5c5d;}
}
@media (min-width: 768px) and (max-width: 980px){
	.logo{position: absolute;}
}
.header-interna nav ul a:hover{text-decoration: none;}
.header-interna nav ul a li{display: inline;margin-right: 30px;}

.header-home nav ul{list-style: none; font: 400 18px / 56.933px Titillium Web;margin-top: 13px;}
.header-home nav ul a{color: #1cb9bd;font-size: 19px;}
.header-home nav ul a:hover{text-decoration: none;}
.header-home nav ul a li{display: inline;margin-right: 30px;}

.home-barra{height: 53px;background-color: #1cb9bd;}

.home{margin-top: 50px;}
.home span{font: 400 48px / 56.933px Titillium Web;color: #0f5c5d;}
.home p{font: 400 18px / 30px Titillium Web;color: #8d8d8d;}
.texto-home{text-align: center;}
.texto-home img{margin-top: -30px;margin-left: 20px;margin-right: 20px;}

.title-itens-home{font: 400 48px / 56.933px Titillium Web;color: #0f5c5d;margin-top: 50px;margin-bottom: 50px;}
.title-itens-home{text-align: center;}
.title-itens-home img{margin-top: -10px;margin-left: 20px;margin-right: 20px;}
.home-itens{text-align: center;margin-bottom: 50px;}
.home-itens img{text-align: center;}

.header-contato{height:254px;background-image: url('../assets/header-contato.jpg');}
.header-contato h1{font: 400 60px / 56.933px Titillium Web;color: #0f5c5d;margin-top: 90px;}
.contato{
	margin-top: 100px;
	margin-bottom: 100px;
}
.dados-contato h2{font: 600 26px Titillium Web;color: #1bb9bd;}
.dados-contato p{font: 400 18px / 30px Titillium Web;color: #8d8d8d;}
.form-contato{margin-top: 70px;}
.form-contato label{font: 700 14.89px Titillium Web;color: #8d8d8d;margin-top: 5px;}
.input-contato{height: 30px;width: 581px;border-color: #8d8d8d;border-style: solid;border-width: 2px;margin-top: 5px;}
.form-contato textarea{height: 153px;width: 581px;border-color: #8d8d8d;border-style: solid;border-width: 2px;margin-top: 5px;}
.btn-contato{height: 45px;width: 191px;margin-left: 30%;margin-top: 20px;}

.header-equipe{height:254px;background-image: url('../assets/header-equipe.jpg');}
.header-equipe h1{font: 400 60px / 56.933px Titillium Web;color: #0f5c5d;margin-top: 90px;}
.equipe{margin-top: 100px;margin-bottom: 100px;}
.equipe h1{color: #1bb9bd;font: 600 26px Titillium Web;}
.equipe h2{color: #8d8d8d;font: 700 14.89px Titillium Web;}
.equipe ul{list-style: square}
.equipe ul li{font: 400 18px / 30px Titillium Web;color: #8d8d8d;}

.header-especialidades{height:254px;background-image: url('../assets/header-especialidades.jpg');}
.header-especialidades h1{font: 400 60px / 56.933px Titillium Web;color: #0f5c5d;margin-top: 90px;}
.especialidades{margin-top: 100px;margin-bottom: 100px;}
.especialidades ul{list-style: none;}
.especialidades ul a li{font: 400 18px / 42px Titillium Web; color: #8e8e8e;}
.especialidades ul a li img{margin-right: 10px;}
.especialidades ul a:hover{text-decoration: none;}
.especialidades ul a li:hover{text-decoration: none;color: #3eaaad;}
.especialidades ul a:active{text-decoration: none;}
.especialidades ul a li:active{text-decoration: none;color: #3eaaad;}
.conteudo-especialidades h1{font: 600 26px Titillium Web;color: #1bb9bd;}
.conteudo-especialidades h2{font: 700 21px / 30px Titillium Web;color: #8d8d8d;}
.conteudo-especialidades span{font: 500 20px / 30px Titillium Web;color:#13979a;}
.conteudo-especialidades p{font: 400 18px / 30px Titillium Web;color: #8d8d8d;}

.orto-um{margin-bottom: 20px;}
.orto-dois{margin-bottom: 20px;}

.hide{display: none !important;}

.divisao{height:5px;background-image: url('../assets/divisao.png');margin-bottom: 10px;margin-top: 10px;}
.footer{background-color: #1cb9bd;height: 53px; padding-top: 10px; color: #ffffff;font: 300 16px / 28px Titillium Web;margin-top: 50px;}


header .menuprincipal button.navbar-toggle {width: 100%;color: #fff;background-color: #1bb9bd;}
header .menuprincipal button.navbar-toggle .icon-bar {background-color: #fff;margin: 4px auto 0px;}
.navbar-nav{}
.navbar-nav>li>a {margin-top:5px;color:#fff;padding-bottom:5px;}
.navbar-nav>li>a:hover {background-color: transparent !important;}
.navbar-nav>li>a.active {background-color: transparent !important;color:#fff;border-bottom:2px solid #fff;}
.navbar-nav>li{float:left !important;}